:root {
  --black: #000;
  --blue: #007bff;
}

@define-mixin fontstyle {
  color: var(--black);
}

body {
  background: var(--primary-color);
  @mixin fontstyle;

  &.dark {
    background: var(--blue);
  }
}
